*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

 /* MIX */
.bg_grey{
  background: rgb(243, 245, 249);
}

.text_center{
  text-align: center;
}

.color_blue{
  color: rgba(3, 27, 78, 0.6);
}


/* SECTION SPONSOR */
section h3 {
  text-transform: uppercase;
  color: grey;
  text-align: center;
  padding: 20px 0;
}

.container{
  max-width: 1170px;
  margin: auto;
}

.container a{
  text-decoration: none;
}

.sponsor_img{
  display: flex;
  justify-content: center;

}

.sponsor_img img{
  flex-basis: calc((100% / 6) - 4px);
    padding: 10px;
}


/* SECTION DEPLOY */
section h2{
  color: rgb(3, 27, 78);
  margin-top: 50px;
  font-size: 34px;
  font-weight: bold;
}

.title_deploy p{
  margin: 15px 0 40px 0;
}

.content_deploy{
  display: flex;
  width: 100%;
}

.content_deploy_left{
  width: 30%;
  display: flex;
  justify-content: center;
}

.content_deploy_left ul li{
  list-style: none;
  padding: 10px 0 20px 10px;
  border-left: 2px solid #e5e8ed;
}

.content_deploy_left a{
  font-weight: bold;
  color: rgba(3, 27, 78, 0.6);
}

.content_deploy_right{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 50%;
  padding: 0 20px 20px 0;
}

.box h4{
  padding: 10px 0;
}

  /* RESPONSIVE */
@media screen and (max-width: 992px){

  .sponsor_img{
    flex-wrap: wrap;
  }

  .sponsor_img img{
    flex-basis: calc(50% - 4px);
    max-height: 150px;
  }

  .content_deploy_left{
    margin-bottom: 30px;
    justify-content: flex-start;
  }

 .content_deploy, .content_deploy_right{
   display: block;
   width: 100%;
 }

 .content_deploy_right, .content_deploy_left{
   padding-left: 20px;
 }

 .title_deploy p{
   padding: 10px;
 }

  .box{
    width: 100%;
  }
}
